body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: #0F4C75;
  overflow: scroll;
  display: block;
}

html {
  font-size: 62.5%;

}
